<div id="summaryPanel" class="viewPanel">
  <div class="row summaryRow">
    <div class="summaryHead col-xs-12">
      <div class="col-xs-12 col-md-4 col-lg-3 col-offset-lg-1">
        <h5>{{acct.name.toUpperCase()}} SUMMARY</h5>
      </div>
      <div class="col-xs-12 col-md-8  col-lg-5">
        <uib-progressbar max="totalLimit" value="totalBalance">{{totalBalance | currency}} / {{totalLimit | currency}}</uib-progressbar>
        <p>Minimum payment due on {{due}}</p>
      </div>
    </div>
    <div class="col-xs-12">
    </div>
  </div>
  <ul class="accountsList list-group">
    <acct-card ng-repeat="card in acct.data track by card.id" acct="card" ng-click="detailClicked({cardId: card.id})"></acct-card>
  </ul>
</div>
