body {
  // border: 1px solid red;
}

.viewPanel {
  position: absolute;
  left: 0;
  right: 0;
  height: calc(100vh - #{$nav-bar-height});
  background: $background-color;
  box-shadow: 0px 2px 2px #bbb;
}

.progress {
  span {
    line-height: 1.5em;
  }
}

@media (min-width: $screen-md) {
}
